<div>
    <button mat-stroked-button color='primary' (click)="addEmployee()">Add Employee</button>
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.gender}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateOfBirth">
            <mat-header-cell *matHeaderCellDef> Date Of Birth </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.dateOfBirth}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="department">
            <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.department}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>